:root {
  --color-light: #f9f4f4;
  --color-light-gray: #cbcbcb;
  --color-light-gray-2: #eae9e9;
  --color-dark: #1B2845;
  --color-dark-2: #11192b;
  --color-primary: #274060;
  --color-highlight: #edc531;
  --font-size-default: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-light);
  font-size: var(--font-size-default);
}

img:hover {
  cursor: pointer;
}

svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  fill: white;
}
svg:hover {
  cursor: pointer;
  fill: var(--color-highlight) !important;
}

.svg-dashboard {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.svg-search,
.svg-bell {
  fill: var(--color-dark);
  margin-right: 2rem;
}

.svg-bell {
  width: 3rem;
  height: 3rem;
}
.svg-bell:hover {
  cursor: pointer;
  fill: var(--color-highlight);
}

.svg-star,
.svg-eye,
.svg-share {
  fill: var(--color-dark);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

.heading-primary {
  color: var(--color-light);
  font-size: 3rem;
  user-select: none;
}

.heading-secondary {
  color: var(--color-dark);
  font-size: 2.5rem;
  user-select: none;
}

.heading-tertiary {
  color: var(--color-dark);
  font-size: 2rem;
  user-select: none;
}

.btn-primary {
  background-color: var(--color-highlight);
  color: var(--color-light);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 700;
}
.btn-primary:hover {
  background-color: rgb(175, 147, 43);
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border-left: 12px solid var(--color-highlight);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(17, 25, 43, 0.1);
  background-color: var(--color-light);
  transition: transform 300ms ease-in-out, box-shadow 300ms;
}
.card__heading {
  margin-bottom: 1rem;
}
.card__body {
  margin-bottom: 1rem;
}
.card__icons {
  margin-left: auto;
  margin-top: auto;
}
.card:hover {
  cursor: pointer;
  background-color: #355d8f;
  color: var(--color-light);
  fill: white;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(17, 25, 43, 0.5);
}
.card:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 5px rgba(17, 25, 43, 0.5);
}

.card:hover .card__heading,
.card:hover .card__icon {
  color: var(--color-light);
  fill: var(--color-light);
}

.header {
  display: grid;
  grid-template-columns: 60% minmax(40rem, 40%);
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem 2rem;
  box-shadow: 0 8px 10px -10px var(--color-light-gray);
  z-index: -1;
}

.search {
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search__input {
  border-radius: 2rem;
  border: none;
  padding: 1rem 2rem;
  width: 40%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  background-color: var(--color-light-gray);
  transition: width 1s cubic-bezier(0.2, 1.71, 0.71, -0.31);
}
.search__input:focus {
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user-info__img {
  width: 6rem;
  border-radius: 50%;
  margin-right: 2rem;
  box-shadow: 0 0 1px var(--color-dark);
}
.user-info__name {
  font-weight: 700;
  margin-right: 2rem;
}

.user-greeting {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
}
.user-greeting__img {
  width: 8rem;
  border-radius: 50%;
  margin-right: 2rem;
  box-shadow: 0 0 1px var(--color-dark);
}
.user-greeting__message--bottom {
  font-weight: 700;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns__btn:not(:last-child) {
  margin-right: 3rem;
}

main {
  display: grid;
  grid-template-columns: minmax(26rem, 20%) 80%;
  min-height: 100vh;
}

.sidebar {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
}
.sidebar__logo {
  display: flex;
  align-items: center;
  padding: 3rem;
}
.sidebar__logo:hover > * {
  cursor: pointer;
  color: var(--color-highlight);
  fill: var(--color-highlight);
}
.sidebar__items-main {
  margin-bottom: 2rem;
}
.sidebar__item {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  transition: background-color 100ms;
}
.sidebar__item:hover {
  cursor: pointer;
  background-color: var(--color-dark-2);
}

.content-main {
  background-color: var(--color-light-gray-2);
  display: grid;
  grid-template-columns: minmax(60rem, 65%) minmax(33rem, 35%);
  font-size: 1.8rem;
  line-height: 1.5;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3.5rem;
  gap: 2rem;
  padding: 2rem;
}
.projects__heading {
  grid-column: 1/-1;
}

.content-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.6rem;
  line-height: 1.4;
  padding: 2rem;
  padding-left: 0;
}

.announcements {
  background-color: var(--color-light);
  padding: 1.5rem;
  border-radius: 10px;
}

.announcements-heading {
  margin-bottom: 1rem;
}

.announcement:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-light-gray);
}
.announcement:not(:first-child) {
  padding-top: 1rem;
}

.trending-heading {
  margin: 1rem 0;
}

.trending {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  padding: 2rem;
  border-radius: 10px;
}
.trending__account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending__account:not(:last-child) {
  margin-bottom: 2rem;
}
.trending__account-handle {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.trending__account-details {
  flex-basis: 50rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.trending__account-img {
  display: inline-block;
  width: 60px !important;
  height: 60px !important;
  line-height: 60px;
  border-radius: 10000px;
  margin-right: 2rem;
  box-shadow: 0 0 1px var(--color-dark);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 3px;
}

/*# sourceMappingURL=styles.css.map */
