*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}

html{
    font-size: 62.5%;

    @media only screen and (max-width: 1450px){
        font-size: 50%;
    }

    @media only screen and (max-width: 1000px){
        font-size: 40%;
    }
}

body{
    box-sizing: border-box;
    background-color: var(--color-light);
    font-size: var(--font-size-default);
}

img:hover{
    cursor: pointer;
}