// COLORS

:root{
    --color-light: #FDFFF1;
    --color-light-gray: #F5F5F4;
    --color-dark: #1B2845;
    --color-dark-2: #11192b;
    --color-primary: #274060;
    --font-size-default: 1.6rem;
}



//FONT

