// COLORS

:root{
    --color-light: #f9f4f4;
    --color-light-gray: #cbcbcb;
    --color-light-gray-2: #eae9e9;
    --color-dark: #1B2845;
    --color-dark-2: #11192b;
    --color-primary: #274060;
    --color-highlight: #edc531;
    --font-size-default: 1.6rem;
}



//FONT

